<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="natalsem_checkout_submit_all_after_notification" instance="Natalsem\Notification\Observer\OrderPlaceAfter" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="sales_order_shipment_after"
                  instance="Natalsem\Notification\Observer\ShipmentSaveAfter" />
    </event>
</config>
